# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc
man/
NAMESPACE

# Unwanted files (e.g. in derived-data/ the files are too large)
*.rmarkdown
*_files
*_cache
outputs/
derived-data/
analyses/standard-approach/results
analyses/lonely_cluster_analysis/results

