# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc
NAMESPACE

# Unwanted files (e.g. in derived-data/ the files are too large) ----
*.rmarkdown
*_files
*_cache
outputs/*
!outputs/.gitkeep
raw-data/*
!raw-data/.gitkeep
derived-data/*
!derived-data/.gitkeep
docs
